<ion-card>
  <img
    src="https://previews.123rf.com/images/robuart/robuart1812/robuart181200976/113273170-mega-discount-only-this-month-special-promotion-buy-now-poster-assurance-of-quality-and-naturality-o.jpg"
  />
  <ion-card-content>
    <div class="d-flex ion-justify-content-around ion-align-items-center">
      <ion-button
        [routerLink]="['/my-order']"
        routerLinkActive="/my-order"
        class="btn-service"
        color="warning"
      >
        <ion-icon name="restaurant"></ion-icon>
      </ion-button>
      <ion-button
        [routerLink]="['/my-order']"
        routerLinkActive="/my-order"
        class="btn-service"
        color="primary"
      >
        <ion-icon name="people"></ion-icon>
      </ion-button>
      <ion-button
        [routerLink]="['/my-order']"
        routerLinkActive="/my-order"
        class="btn-service"
        color="success"
      >
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-button
        [routerLink]="['/my-order']"
        routerLinkActive="/my-order"
        class="btn-service"
        color="secondary"
      >
        <ion-icon name="flower"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
