<ion-list class="ion-margin-horizontal">
  <ion-list-header>
    <h2><strong>Food Pick</strong></h2>
  </ion-list-header>

  <div *ngFor="let item of foods">
    <ion-button
      [routerLink]="['/foods/' + item.id]"
      fill="none"
      class="btn-wrapper"
    >
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="item.url" [title]="item.title" />
        </ion-avatar>
        <ion-label>
          <h2>
            <ion-badge>{{ item.price }}</ion-badge>
            {{ item.title }}
          </h2>
          <p>{{ item.description }}</p>
          <ion-button
            (click)="add($event, item.id)"
            shape="round"
            color="dark"
            class="btn-add"
          >
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-button>
  </div>
</ion-list>
