<ion-header>
  <ion-toolbar>
    <ion-title>saved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-tab-group class="bg-dark">
    <mat-tab label="First">
      <div class="text-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        ducimus. Ratione id ad praesentium, distinctio nobis hic modi dolore
        repellat reprehenderit illum sit voluptatibus perferendis labore atque
        odit, dolorem voluptatum, pariatur voluptas harum architecto. Quasi,
        molestias, error ea sed quod tempore doloremque voluptatum impedit,
        harum molestiae ipsam corrupti? Fugiat quas omnis voluptate velit ab
        distinctio est quasi impedit libero cumque praesentium hic porro, ex at
        ea delectus ipsa quia? Adipisci sunt voluptatem molestiae, illum
        temporibus aspernatur, quas at esse minus vero, amet accusantium quam.
        Ad sequi sint ut magnam minus iure eligendi quasi cumque pariatur
        corporis soluta sapiente, provident beatae!
      </div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        ducimus. Ratione id ad praesentium, distinctio nobis hic modi dolore
        repellat reprehenderit illum sit voluptatibus perferendis labore atque
        odit, dolorem voluptatum, pariatur voluptas harum architecto. Quasi,
        molestias, error ea sed quod tempore doloremque voluptatum impedit,
        harum molestiae ipsam corrupti? Fugiat quas omnis voluptate velit ab
        distinctio est quasi impedit libero cumque praesentium hic porro, ex at
        ea delectus ipsa quia? Adipisci sunt voluptatem molestiae, illum
        temporibus aspernatur, quas at esse minus vero, amet accusantium quam.
        Ad sequi sint ut magnam minus iure eligendi quasi cumque pariatur
        corporis soluta sapiente, provident beatae!
      </div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="text-success">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        ducimus. Ratione id ad praesentium, distinctio nobis hic modi dolore
        repellat reprehenderit illum sit voluptatibus perferendis labore atque
        odit, dolorem voluptatum, pariatur voluptas harum architecto. Quasi,
        molestias, error ea sed quod tempore doloremque voluptatum impedit,
        harum molestiae ipsam corrupti? Fugiat quas omnis voluptate velit ab
        distinctio est quasi impedit libero cumque praesentium hic porro, ex at
        ea delectus ipsa quia? Adipisci sunt voluptatem molestiae, illum
        temporibus aspernatur, quas at esse minus vero, amet accusantium quam.
        Ad sequi sint ut magnam minus iure eligendi quasi cumque pariatur
        corporis soluta sapiente, provident beatae!
      </div>
    </mat-tab>
  </mat-tab-group>
</ion-content>
