<ion-grid>
  <ion-row class="ion-margin-horizontal">
    <ion-col>
      <ion-item class="bg-gray rounded">
          <ion-icon name="search" class="mr-2"></ion-icon>
          <ion-input placeholder="Type APFOOD Off 50%"></ion-input>
          <ion-select clear item-right placeholder="Select One">
            <ion-select-option value="70000">HCM City</ion-select-option>
            <ion-select-option value="10000">Ha Noi</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-col>
    <ion-col
      size="auto"
      class="d-flex ion-justify-content-center ion-align-items-center ion-padding-horizontal"
    >
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
